.category-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; /* Set the width to 80% */
  margin: 0 auto; /* Center the container */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
  border-radius: 10px; /* Optional: add some border radius for smoother corners */
  background-color: #fff; /* Optional: add a background color */
}

.header1 {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  background-color: #2f8d46;
  height: 6px;
  align-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow to header as well */
}

.header1 h1 {
  font-size: 36px;
  color: white; /* Adjust the color as needed */
  margin-bottom: 10px;
}

.plant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.search_bar1 {
  position: absolute;
  top: 5vh; 
  right:25vb;
  width: 45vb;
  background-color: white;
  padding: 10px;
  border-radius: 250px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.search_bar1 input {
  width: 50vb; 
  padding: 8px;
  border:none;

  border-radius: 5%;
  outline: none;
  transition: width 0.3s ease;
}

.search_bar1 input:focus {
  width:50vb; 
  border-color: #2f8d46; 
}
.arrow1:hover{
   cursor: pointer;
}