.input-box1 {
    margin-bottom: 15px;
}

.input-box1 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #bbb;
}

.input-box1 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    color: black;
}

.sub-btn1 {
    width:100%;
    padding: 10px;
    background-color: #6200ea;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    
    
}

.sub-btn1:hover {
    background-color: #3700b3;
}

.next-btn1 {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #03dac6;
    border: none;
    border-radius: 4px;
    color: #121212;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.next-btn1:hover {
    background-color: #018786;
}



