
.footer {
    background-color: #2f8d46; /* Adjust as needed */
    color: white;
    padding: 30px 10px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 16vh;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section p{
    font-size: 14px;
  }
  
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social-icons a {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #c2f4c8; 
    transform: scale3d(1.2,1.2,1);
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
  }
  