.plant-details {
    padding: 20px;
    width: 90%;
    margin: 0 auto; /* Centers the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

.header1 {
    text-align: center;
    margin-bottom: 40px;
    background-color: #2f8d46;
    height: 6px;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.header1 h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
}

.plant-details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    gap: 30px;
}

.detail-image {
    width: 100%;
    padding-left: 10px;
    padding-top: 80px;
    padding-bottom: 30px;
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plant-details-content {
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: left;
    max-width: 950px;
    padding-left: 40px;
}

.plant-details-content h2 {
    font-size: 28px;
    color: #2f8d46;
    margin-top: 20px;
    margin-bottom: 10px;
}

.plant-details-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

.plant-details-content ul {
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 20px;
}

.plant-details-content ul li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
    background-color: #22843ac5;
    border-radius: 15px;
    color: #fff;
    padding: 10px;
    border-bottom: 5px solid #2f8d46;
}

.plant-details-section strong {
    color: #2f8d46;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: italic;
}

/* Responsive Design */
@media (min-width: 768px) {
    .plant-details-section {
        flex-direction: row;
        align-items: flex-start;
    }

    .team-image {
        width: 50%;
    }

    .plant-details-content {
        width: 50%;
    }
}
